* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
div.container {
    width: 100%;
    height: 100vh;
    background-color: black;
nav {
    height: 50px;
    background-color: red;
    display: flex;
    align-items: center;
    #hamburger-menu {
     width: 35px;
     height: 35px;
     margin-left: auto; 
     margin-right: 1em;  
    }
}
main {
    height: calc(100vh - 50px);
    section {
        height: 100%;
        display: flex;
        justify-content: center;
        #scroll {
    width: 200px;
    height: 200px;
}
    }
}

}